<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours Avancé</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    
    <h1>Bienvenue dans le cours </h1>
    
    
    <p>1️⃣ Perfectionnement de la grammaire et de la syntaxe</p>
    <ul>
        <li><strong><a href="/cours/avance/leconA1">Leçon 1 : Discours indirect</a></strong></li>
        <li><strong><a href="/cours/avance/phrase">Leçon 2 : Phrase conditionnele avancées </a></strong></li>
        <li><strong><a href="/cours/avance/passive">Leçon 3 : Voix Passive avancées </a></strong></li>
        <li><strong><a href="/cours/avance/modaux">Leçon 4 : modaux de probabilite et de supposition </a></strong></li>
        <li><strong><a href="/cours/avance/QUIZAV">QUIZ </a></strong></li>
    
    </ul>
    <br>
    <p>2️⃣ Amélioration du vocabulaire et des expressions idiomatiques</p>
    <ul>
        <li><strong><a href="/cours/avance/A2/ep"> Lecon 1 : Expressions idiomatiques courantes</a></strong></li>
        <li><strong><a href="/cours/avance/A2/co"> Lecon 2 : Les collations fréquentes</a></strong></li>
        <li><strong><a href="/cours/avance/A2/ph"> Lecon 3 : Phrasal verbs complexes</a></strong></li>
    </ul>

    <a href="/choisir-niveau">Retour aux niveaux</a>
</body>
</html>


