<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours Débutant</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    
    <h1>Bienvenue dans le cours Pour Débutant !</h1>
    
    <h1><strong>Niveau 1</strong></h1>
    <ul>
        <li><strong><a href="/cours/debutant/lecon1">Leçon 1 : Alphabet</a></strong></li>
        <li><strong><a href="/cours/debutant/lecon2">Leçon 2 : Prononciation de base</a></strong></li>
        <li><strong><a href="/cours/debutant/lecon3">Leçon 3 : Les Salutations</a></strong></li>
        <li><strong><a href="/cours/debutant/lecon4">Lecon 4 : Presentation Personnelle</a></strong></li>
        <li><strong><a href="/cours/debutant/lecon5"> QUIZ GENERAL</a></strong></li>
    </ul>
    <br>
    <h1><strong>Niveau 2</strong></h1>
    <ul>
        <li><strong><a href="/cours/debutant/Niveau21">Lecon1 : Les Verbes Essentiels</a></strong></li>
        <li><strong><a href="/cours/debutant/n2l2/preposition">Lecon 2 : Les prépositions de lieu et de temps</a></strong></li>
        <li><strong><a href="/cours/debutant/n2l2/question">Lecon 3 : Poser des questions simples</a></strong></li>
        <li><strong><a href="/cours/debutant/n2l2/routine">Leçon4 : Parler de sa routine quotidienne</a></strong></li>
        <li><strong><a href="/cours/debutant/n2l2/QuizN2">QUIZ GENERAL</a></strong></li>
    </ul>

    <a href="choisir-niveau">Retour aux niveaux</a>
</body>
</html>


