<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours extreme</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   
    
    <h1>Bienvenue dans le cours </h1>
    <p>🌟 Programme Niveau Extreme</p>
    
    <p>1️⃣ Révision rapide</p>
    <ul>
        <li><strong><a href="/cours/extreme/present">Leçon 1 : Present Simple,Continu</a></strong></li>
        <li><strong><a href="/cours/extreme/preterit">Leçon 2 : Prétérit simple et continu</a></strong></li>
        <li><strong><a href="/cours/extreme/vocabulaire">Leçon 3 : Vocabulaire de base</a></strong></li>
        
        <li><strong><a href="/cours/extreme/QuizE1">QUIZ</a></strong></li>
    </ul>
    <br>
    <p>2️⃣ Temps verbaux essentiels (Verb Tenses)</p>
    <ul>
        <li><a href="/cours/extreme/presentP">Lecon1: Present Perfect</a></li>
        <li><a href='/cours/extreme/pastP'> Lecon2 : Past Perfect</a></li>
    </ul>

    <a href="/choisir-niveau">Retour aux niveaux</a>
</body>
</html>


